<div class="bg-image"></div>
<ion-content>
  <section class="logo">
    <img src="../../assets/logos/light-logo.png" />
  </section>

  <section class="content-main">
    <form [formGroup]="loginForm" >
      <ion-list>
        <ion-item lines="none">
          <div class="suffix">
            <img src="../../assets/images/flag.png">
            <span>+91</span>
          </div>
          <ion-input formControlName="phoneNumber" type="number" placeholder="Enter Phone Number"></ion-input>
        </ion-item>

        <ion-item lines="none" class="mt-20">
          <ion-button type="submit"  [disabled]="!loginForm.valid" (click)="continueClick()">continue</ion-button>
        </ion-item>


        <ion-item lines="none">
          <ion-label class="or-text">OR</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-button class="button-view">
            <ion-label><img slot="start" src="../../assets/images/google.png"> <span>continue with google</span></ion-label>
          </ion-button>
        </ion-item>
      </ion-list>

    </form>
  </section>
</ion-content>