app-login {
  ion-content {
    section.logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 72px;
      img {
        max-width: 110px;
      }
    }
    section.content-main {
      padding: 0 20px;
      margin-top: 28px;
      form {
        background: transparent;
        ion-list {
          margin-bottom: 0px;
          background: transparent;
          ion-item {
            --background: transparent;
            color: #fff;
            display: flex;
            align-items: center;
            --border-color: transparent;
            .suffix {
              display: flex;
              align-items: center;
              border-bottom: 1px solid #fff;
              margin-right: 10px;
              height: 33px;
              img {
                margin-right: 5px;
              }
              span {
                font-size: 0.9rem;
                color: var(--ion-input-text-color);
              }
            }
            ion-input {
              border-bottom: 1px solid #fff;
              height: 33px;
              --padding-start: 5px !important;
              --padding-end: 5px;
              font-size: 0.9rem;
              color: var(--ion-input-text-color);
            }
            ion-label.or-text {
              text-align: center;
              font-size: 1.2rem;
            }
            ion-button {
              margin: 0 auto;
              width: 100%;
              color: var(--ion-color-button-text);
              --color-activated: var(--ion-color-button-text);
              --background: var(--ion-color-button-background);
              --background-activated: var(--ion-color-button-background);
              --background-focused: var(--ion-color-button-background);
              --background-hover: var(--ion-color-button-background);
              min-height: 40px;
              font-weight: 600;
              font-size: 1.1rem;
              letter-spacing: 0px;
              text-transform: uppercase;
            }
            ion-button.button-view {
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 20px;
              }
              ion-label {
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
