<ion-tabs class="images-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <span></span>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <span></span>
      <ion-label>cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <span></span>
      <ion-label>profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="more">
      <span></span>
      <ion-label>more</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
