<ion-tabs class="images-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/images/home1.svg"/>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/images/cart2.svg"/>
      <ion-label>cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="more">
      <img src="../../assets/images/more2.svg"/>
      <ion-label>more</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
