app-cart {
  ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    .empty-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .inner {
        width: 100%;
        display: grid;
        justify-content: center;
        row-gap: 3px;
        text-align: center;
        grid-template-columns: 100%;
        img {
          max-width: 200px;
          margin: 0 auto 10px;
        }
        p {
          margin: 0px;
          color: #2d2d2d;
          font-size: 0.9rem;
        }
      }
    }

    /* cart view */
    .cart-view {
      ion-list.header {
        border-bottom: 1px solid #e7e7e7;
        padding-top: 0px;
        ion-item {
          ion-avatar {
            margin-right: 10px;
            min-width: 50px;
            max-width: 50px;
            min-height: 50px;
            max-height: 50px;
          }
          ion-label {
            h2 {
              color: #2d2d2d;
              font-weight: 600;
            }
          }
        }
      }
      ion-list.cart-list {
        ion-item {
          /* --padding-start: 0px; */
          /* --inner-padding-end: 0px; */
          ion-thumbnail {
            margin-right: 10px;
            min-width: 40px;
            max-width: 40px;
            min-height: 40px;
            max-height: 40px;
          }
          ion-label {
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            display: flex !important;
            align-items: center;
            h2 {
              white-space: pre-line;
              font-size: 0.9rem;
              max-width: 75%;
              color: #2d2d2d;
            }
            p {
              min-width: 25%;
              text-align: right;
              font-weight: 600;
              margin: 0px;
              padding-right: 10px;
              color: #6e6e6e;
            }
          }
          ion-icon {
            font-size: 1.2rem;
            cursor: pointer;
            margin-left: 10px;
            color: #6e6e6e;
          }
        }
      }
      ion-list.cart-sub-detail {
        // position: fixed;
        // bottom: 0;
        width: 100%;
        ion-item {
          width: 100%;
          --padding-start: 0px;
          img {
            width: 15px;
            margin-left: 10px;
          }
          ion-label {
            white-space: pre-line !important;
            padding-left: 16px;
            h2 {
              margin: 0px;
              color: #2d2d2d;
              font-weight: 600;
            }
            p {
              margin: 4px 0 0;
              color: #6e6e6e;
            }
          }
          ion-label.total-cost {
            text-align: right;
            font-weight: 600;
            color: #6e6e6e;
          }
        }
      }

      ion-row.address-bar ion-col {
        padding-left: 0px;
        padding-right: 0px;
      }

      ion-grid {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 0px;
        padding-right: 0px;
        ion-row.address-bar {
          ion-col {
            padding-left: 0px;
            padding-right: 0px;
            ion-item {
              --background: #eceff4;
              display: flex;
              ion-label {
                white-space: pre-line !important;
                max-width: 100%;
                h2 {
                  width: 100%;
                  color: #6e6e6e;
                  font-size: 0.8rem;
                }
                .address-detail {
                  display: flex;
                  align-items: flex-start;
                  width: 100%;
                  img {
                    margin-left: 0px;
                    margin-right: 10px;
                    width: 20px;
                    margin-top: 5px;
                  }
                  p {
                    width: 100%;
                    font-weight: 600;
                    color: #2d2d2d;
                  }
                }
              }
              ion-label:last-child {
                color: #00a651;
                text-transform: uppercase;
                font-size: 0.8rem;
                text-align: right;
                margin-left: 10px;
                max-width: 25%;
              }
            }
          }
        }
        ion-row.payment-row {
          padding: 0 10px;
          width: 100%;
          ion-col:first-child {
            display: grid;
            padding-left: 0px;
            h3 {
              font-size: 0.8rem;
              color: #6e6e6e;
              margin: 0 0 5px;
            }
            h2 {
              font-size: 0.9rem;
              color: #2d2d2d;
              font-weight: 600;
              margin: 0px;
            }
            p {
              font-size: 0.9rem;
              margin: 1px 0 0;
              color: #ba4358;
              border-bottom: 1px dashed #ba4358;
              width: 60px;
              text-align: center;
            }
          }
          ion-col:last-child {
            padding-right: 0px;
            min-width: 55%;
            ion-item {
              --padding-start: 0px;
              --inner-padding-end: 0px;
              --background: #00a651;
              border-radius: 5px;
              ion-label {
                padding: 10px 10px;
                margin-top: 3px;
                margin-bottom: 0px;
                h2 {
                  color: #fff;
                  font-weight: 600;
                  letter-spacing: 0.5px;
                  font-size: 0.9rem;
                  margin-bottom: 0px;
                }
                p {
                  color: #fff;
                  font-size: 0.7rem;
                  font-weight: 600;
                  letter-spacing: 0.5px;
                }
              }
              ion-icon {
                color: #00a651;
                background: #fff;
                border-radius: 50%;
                margin: 0 10px 0 0px;
              }
            }
          }
        }
      }
    }
  }
}
