<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Cart</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content>
  <div class="empty-cart" *ngIf="cart?.length==0">
    <div class="inner">
      <img src="../../assets/images/empty-cart-logo.png" />
      <p>Good food is always cooking.</p>
      <p>Place an order, your cart is empty.</p>
    </div>
  </div>

  <div class="cart-view" *ngIf="cart?.length > 0">
    <ion-list class="header">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src={{chefImageUrl}}{{chefDetails?.imageUrl}} />
        </ion-avatar>
        <ion-label>
          <h2>{{chefDetails?.chefFullName}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="cart-list">
      <ion-item lines="none" *ngFor="let c of cart ; let i = index;">
        <ion-thumbnail slot="start">
          <img src={{dishImageUrl}}{{c?.dishImage}} />
        </ion-thumbnail>
        <ion-label>
          <h2>{{c?.dishName}}<br>
          <!-- <span class="currency">₹</span> -->
          <span class="price">₹{{c?.dishCost}} Per Person</span></h2>
        </ion-label>
        <!-- <span class="currency">₹</span> -->
        <span slot = "end">₹{{c?.dishCost * c?.noOfPeople}}</span>
        <ion-icon name="close" slot = "end" (click) = "deletePopup(c)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list class="cart-sub-detail">
      <ion-item detail (click)="detailPopup()">
        <ion-label>
          <h2>Pre-requirement</h2>
          <p>The following ingredients/applainces should be available in your kitchen</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Item Total</h3>
        </ion-label>
        <ion-label lines="none" class="total-cost" slot="end">
          <span class="currency">₹</span>
          <span class="price">{{totalAmount}}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Minimum Order Amount</h3>
        </ion-label>
        <ion-label lines="none" class="total-cost" slot="end">
          <span class="currency">₹</span>
          <span class="price">{{minimumOrderAmount}}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Payable Amount</h2>
        </ion-label>
        <ion-label lines="none" class="total-cost" slot="end">
          <span class="currency">₹</span>
          <span class="price">{{payableAmount}}</span>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-grid class="footer-fixed ">
      <ion-row class="address-bar">
        <ion-col>
          <ion-item lines="none">
            <ion-label>
              <h2>ADDRESS</h2>
              <div class="address-detail">
                <img src="../../assets/images/verified.svg" />
                <p>A-11, Sun tample, Near Manek chok, Delhi</p>
              </div>
            </ion-label>
            <ion-label class="address-change" slot="end">
              change
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="payment-row">
        <ion-col (click)="paymentModeChange()">
          <h3>PAYMENT MODE</h3>
          <h2>Online Payment</h2>
          <p>CHANGE</p>
        </ion-col>
        <ion-col>
          <ion-item lines="none" (click)="invokeBookingHandler()">
            <ion-label>
              <h2>Place Order</h2>
              <p>Your total is ₹{{payableAmount}}</p>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>