<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <ion-label class="currenct-static"><span>Now</span> <ion-icon name="arrow-round-forward"></ion-icon></ion-label>
      <ion-label class="currenct-page">Home </ion-label>
    </ion-title>
    <ion-label slot="end">
        <img src="../../assets/icon/offers-badge.jpg" />
      <span>Offers</span>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderOptions"  class="promotion-slider" >
    <ion-slide *ngFor="let s of slider.slidesItems ; let i = index ">
      <img src="../../assets/slides/slider-{{s}}.jpg">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderOffersOptions"  class="slider-offers" >
      <ion-slide *ngFor="let s of sliderOffers.slidesItems ; let i = index;">
        <div class="box">
          <!--<ion-icon *ngIf="s.type=='ionic'" name="{{s.icon}}"></ion-icon>-->
          <div class="offer-image">
            <span class="bg-high"></span>
            <img src="../../assets/icon/offers-{{s.id}}.jpg">
          </div>
          <span>{{s.title}}</span>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="list-view">
      <h4>
        200 Resturants
      </h4>
      <div class="sort-filter">
        <fa-icon icon="sliders-h"></fa-icon>
        <span>sort / filter</span>
      </div>
    </div>
    <ion-list class="p-list">
      <ion-item lines="none">
        <div class="box">
          <div class="logo">
              <img src="../../assets/products/product-0.jpg">
              <span class="ads-badge">Ad</span>
          </div>
          <div class="detail">
              <h5>the bake factory</h5>
              <p>Continental, American, Fast Food </p>
              <div class="offer">
                  <img src="../../assets/icon/offers-badge-small.png" />
                <span class="off">40%</span>
                <span class="coupon">user copoun SWIGGY40</span>
              </div>
              <div class="bottom-detail flex-mode">
                <div class="ratting">
                  <ion-icon name="star"></ion-icon>
                  <span>4.0</span>
                </div>
                <div class="posted-on">
                  32 min
                </div>
                <div class="price">
                  <span class="currency">$</span>
                  <span class="ammount">250</span>
                  <span class="for">for tow</span>
                </div>
              </div>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none">
          <div class="box">
            <div class="logo">
                <img src="../../assets/products/product-0.jpg">
                <span class="ads-badge">Ad</span>
            </div>
            <div class="detail">
                <h5>the bake factory</h5>
                <p>Continental, American, Fast Food </p>
                <div class="offer">
                  <img src="../../assets/icon/offers-badge-small.png" />
                  <span class="off">40%</span>
                  <span class="coupon">user copoun SWIGGY40</span>
                </div>
                <div class="bottom-detail flex-mode">
                  <div class="ratting">
                    <ion-icon name="star"></ion-icon>
                    <span>4.0</span>
                  </div>
                  <div class="posted-on">
                    32 min
                  </div>
                  <div class="price">
                    <span class="currency">$</span>
                    <span class="ammount">250</span>
                    <span class="for">for tow</span>
                  </div>
                </div>
            </div>
          </div>
        </ion-item>
    </ion-list>
</ion-content>
