/* common bgs */
app-splash , app-otp, app-login {
     .bg-image{
        background: url(assets/bgs/bg-main.png) center center/cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: brightness(0.75);
    }
    ion-content {
        --background: transparent;
    }
}

/* Assets BG adjustments */
app-signup {
    ion-content{
        section.content-main {
            ion-list { 
                ion-item{
                    ion-button{
                        color: #fff;
                        --color-activated:#fff; 
                        --background: url("assets/images/signup_button.png")  center center / cover ;
                        --background-activated:  url("assets/images/signup_button.png")  center center / cover ;
                        --background-focused:  url("assets/images/signup_button.png")  center center / cover ;
                        --background-hover:  url("assets/images/signup_button.png")  center center / cover ;
                    }
                }
            }
        }
    }
}

// app-user-profile {
//     ion-content {
//         section.form-container {
//             ion-list {
//                 ion-item {
//                     .high-grad {
//                         ion-input:after {
//                             background: url("assets/images/verified.svg") center center / 70% no-repeat;
//                         }
//                     }
//                 }
//             }            
//         }
//     }
// }

app-edit-user-profile {
    ion-content {
        section.form-container {
            ion-list {
                ion-item {
                    .high-grad {
                        ion-input:after {
                            background: url("assets/images/verified.svg") center center / 70% no-repeat;
                        }
                    }
                }
            }            
        }
    }
}

.accordion-main {
    .accordion-header {
        &:after {
            background: url(assets/images/uparrow.svg) center center / 50% no-repeat;
        }
    }
}


.flex.h-center {
    display: flex;
    height: 100%;
}
.v-center{
    align-items: center;
}

.h-center{
    justify-content: center;
}




ion-header{
    &:after{
        background-image:unset !important;
    }
    ion-toolbar {
        ion-button.custom-back-button {
            --background: transparent;
            max-width: 50px;
            margin-left: 10px;
            --box-shadow: unset;
            --background-activated: transparent;
            --background-focused: transparent;
            --background-hover: transparent;
            img{
                width: 100%;
            }
        }
        ion-title {
            display: flex;
            font-size: 1rem;
            font-weight: 500;
            color: #000;
            padding-left: 15px;
            .currenct-static {
                display: flex;
                align-items: center;
                float: left;
                span{
                    border-bottom: 2px dotted #adadad;
                    padding-bottom: 3px;
                    margin-right: 2px;
                }
                ion-icon {
                    font-size: 0.8rem;
                    padding-left: 3px;
                    padding-right: 5px;
                    color:#adadad;
                }
            }
            .currenct-page {
                float: left;
                border-bottom: 2px dotted #adadad;
                padding-bottom: 1px;     
                font-size: 1rem;
            }
            img {
                width: 20px;
                float: left;
                margin-right: 9px;
            }
        }
        ion-label[slot="end"] {
            display: flex;
            align-items: center;
            padding-right: 15px;
            margin-top: -2px;
            img {
                width: 22px;
                margin-right: 5px;
            }
            span {
                font-weight: 300;
                letter-spacing: 0.2px;
                font-size: 1rem;
            }
            
        }
    }
}



  /* tabs */
  ion-tabs {
    ion-tab-bar{
        border-top:none;
        ion-tab-button{
            ion-icon{
                font-size:1.5rem;
                color:#8c8888; 
            }
            img {
                width: 17px;
            }
            ion-label {
                text-transform: uppercase;
                font-size: 0.6rem;
                color: #969799;
                margin-top: 2px;        
            }
        
        }
        ion-tab-button[aria-selected="true"]{
            ion-label {
                color: #2d2d2d;
            }
        } 
    }
  }

.bold{
    font-weight: 600 !important;
}
.bg-less-button{
    --background: transparent !important;
    --background-activated: transparent !important;
    --background-focused: transparent  !important;
    --background-hover: transparent  !important;
    --box-shadow: unset !important;
}





.custom-alert-box {
    .alert-wrapper {
        contain: unset;
        &:before {
            content: " ";
            width: 60px;
            height: 60px;
            position: absolute;
            display: block;
            top: -30px;
            margin: 0 auto;
            left: calc(50% - 30px);
        }
        .alert-message {
            font-size: 0.9rem;
            color: #6e6e6e;
            text-align: center;
            padding: 0px 10px 10px;
            margin-top: 10px;
        }
        .alert-button-group {
            display: flex;
            justify-content: center;
            padding: 10px 20px 15px;
            .alert-button {
                background: #2d2d2d;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                color: #fff;
                margin-inline-end: 0px;
                border-radius: 4px;
                padding-top: 5px;
                padding-bottom: 5px;
                span {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    text-transform: uppercase;
                }                
            }
        }
        
    }
}

.two-button-popup {
    .alert-button-group {
        .alert-button {
            width: calc(50% - 20px) !important;
            margin: 0 10px !important;
            &:last-child {
                background: #00a651;
            }
        }
    }
    
}

.custom-alert-box.confirmation-popup .alert-wrapper:before {
    background:url("assets/images/cost.svg") center center / cover no-repeat;
}
.custom-alert-box.booking-done-popup .alert-wrapper:before {
    background:url("assets/images/booking-done-icon.svg") center center / cover no-repeat;
}
.custom-alert-box.delete-checkpoint-popup .alert-wrapper:before {
    background:url("assets/images/warning.svg") center center / cover no-repeat;
}
.custom-alert-box.phone-popup .alert-wrapper:before {
    background:url("assets/images/phone-popup.svg") center center / cover no-repeat;
}
.custom-alert-box.detail-popup .alert-wrapper:before {
    background:url("assets/images/popup-img.svg") center center / cover no-repeat;
}

ion-tab-button span {
    width: 20px;
    height: 20px;
}

ion-tab-button[tab="home"]:not([aria-selected="true"]) span {
    background:url("assets/images/home2.svg") center center / cover no-repeat;
}
ion-tab-button[tab="home"][aria-selected="true"] span {
    background:url("assets/images/home1.svg") center center / cover no-repeat;
}

ion-tab-button[tab="cart"]:not([aria-selected="true"]) span {
    background:url("assets/images/cart2.svg") center center / cover no-repeat;   
}
ion-tab-button[tab="cart"][aria-selected="true"] span {
    background:url("assets/images/cart1.svg") center center / cover no-repeat;
}

ion-tab-button[tab="profile"]:not([aria-selected="true"]) span {
    background:url("assets/images/profile_new1.svg") center center / cover no-repeat;   
}
ion-tab-button[tab="profile"][aria-selected="true"] span {
    background:url("assets/images/profile_new2.svg") center center / cover no-repeat;
}

ion-tab-button[tab="more"]:not([aria-selected="true"]) span {
    background:url("assets/images/more2.svg") center center / cover no-repeat;   
}
ion-tab-button[tab="more"][aria-selected="true"] span {
    background:url("assets/images/more1.svg") center center / cover no-repeat;
}

ion-rating {
    ion-button{
        --background:transparent;
        --background-active:transparent;
        --background-focus:transparent;
        --background-hover:transparent;
    }
    ion-icon {
      color: #2d2d2d;
      font-size:0.9rem;
  
      &.filled {
        color: #f2b600;
      }
    }
  }