app-chef-profile {
    ion-content{
        section.profile-header {
            width: 100%;
            border-bottom: 8px solid #f7f7f7;
            margin-bottom: 7px;
            .item {
                width: 100%;
                display: flex;
                div[slot="start"] {
                    max-width: 80px;
                    width: 100%;
                    margin-right: 10px;
                    .pp-container {
                        width: 80px;
                        height: 80px;
                        background: red;
                        border-radius: 50%;
                    }
                }
                .info {
                    width: 100%;
                    h4 {
                        margin: 0px;
                        font-weight: 700;
                        font-size: 1.3rem;
                        color: #2d2d2d;
                    }
                    h5 {
                        font-size: 0.95rem;
                        margin-top: 3px;
                        margin-bottom: 4px;
                        color: #6e6e6e;
                        font-weight: 300;
                    }
                    p {
                        font-size: 0.85rem;
                        margin: 5px 0 0;
                        color: #6e6e6e;
                        font-weight: 300;
                    }
                    .lang {
                        color: #6e6e6e;
                        font-size: 0.85rem;
                        margin-top: 10px;
                        b {
                            margin-right: 5px;
                        }
                    }
                }
            }
            ion-row {
                width: 100%;
                border: 1px dashed #6e6e6e;
                border-left: unset;
                border-right: unset;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 3px 0 3px;
                ion-col {
                    text-align: center;
                    font-size: 0.9rem;
                    ion-list     {
                        --padding-top: 0px;
                        &:first-child {
                            color: #2d2d2d;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 0.9rem;
                            ion-icon {
                                margin-right: 4px;
                            }
                            img {
                                margin-right: 4px;
                            }
                            span {
                                margin-right: 3px;
                                font-size: 1.1rem;
                            }
                        }
                        &:last-child {
                            margin-top: 5px;
                            color: #6e6e6e;
                            font-size: 0.8rem;
                            ion-label {
                                margin-top: 0px;
                                font-weight: 500;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    ion-footer {
        background: #fff;
        padding: 0;
        ion-button {
            width: 100%;
            margin: 0px;
            --border-radius: 0px;
            --background: #00a651;
            --background-active: #00a651;
            --background-focus: #00a651;
            --background-hover: #00a651;
            --color:#ffffff;
            --color-activated: #ffffff;
            --color-hover: #ffffff;
            height: 45px;
            font-size: 1.1rem;
            letter-spacing: 0px;
            

        }
    }
}



app-chef-profile {
    ion-content {
        ion-item-group.chef-profile-header {
            ion-item {
                position: relative;
                ion-avatar {
                    min-height: 75px;
                    min-width: 75px;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }
                ion-label {
                    padding-left: 90px;
                    h4 {
                        font-size: 1.1rem !important;
                        font-weight: 600 !important;
                        color: #2d2d2d;
                    }
                    h5 {
                        font-size: 0.9rem !important;
                        color: #6e6e6e;
                        padding-top: 3px;
                        padding-bottom: 7px;
                    }
                    span {
                        font-size: 0.8rem !important;
                        color: #6e6e6e !important;
                    }                        
                }
            }
        }
        ion-grid.grid-feature-marks {
            border-top: 1px dashed #bebebe;
            border-bottom: 1px dashed #bebebe;
            ion-row{
                ion-col{
                    ion-item-group{
                        ion-item {
                            --min-height: 20px;
                            ion-label {
                                text-align: center;
                                margin: 0 0 0px;
                                font-size: 0.8rem !important;
                                color: #6e6e6e !important;
                            }
                            &:first-child {
                                ion-label {
                                    color: #2d2d2d !important;
                                    font-weight: 600;
                                    font-size: 0.9rem !important;
                                    margin: 0 0 7px;
                                }    
                            }
                        }
                    }
                }
            }
        }

        ion-list.a-content {
            padding-bottom: 0;
            > ion-item {
                ion-label {
                    h2 {
                        color: #2d2d2d;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
                ion-icon {
                    font-size: 1rem;
                    color: #2d2d2d;
                }
            }
            ion-list {
                padding: 0px;
                ion-item.itemCardView {
                    margin-bottom:10px;
                    ion-thumbnail{
                        margin-right:10px;
                    }
                    ion-grid{
                        padding:0px;
                        ion-row{
                            padding:0px;
                            ion-col{
                                padding:0px;
                                h4{
                                    font-size: 1rem;
                                    color: #2d2d2d;
                                    margin: 0px;
                                }
                            }
                        }
                        ion-row{
                            ion-col{
                                h5 {
                                    font-size: 0.9rem;
                                    color: #6e6e6e;
                                    margin: 3px 0 0;
                                }
                            }
                            ion-col{
                                ion-row {
                                    ion-col{
                                        ion-rating{
                                            display:flex;
                                            width: unset;
                                            float: left;
                                            ion-button {
                                                height: 14px;
                                                margin: 0px;
                                                line-height: 10px;
                                            }
                                        }
                                        p.votes {
                                            margin: 0px;
                                            font-size: 0.75rem;
                                            color: #6e6e6e;
                                            padding-top: 2px;
                                            margin-left: 2px;
                                            float: left;
                                        }
                                    }
                                }
                            }
                            ion-col.center-align{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                max-width: 35%;
                                ion-button.selection-button:not(.active) {
                                    float: right;
                                    color: #00a651;
                                    --border-color: #00a651;
                                    font-size: 0.7rem;
                                    min-width: 70px;
                                }
                                ion-button.selection-button.active {
                                    font-size: 0.7rem;
                                    min-width: 70px;
                                    float: right;
                                    color: #fff;
                                    --border-color: #00a651;
                                    --background: #00a651;
                                    --background-active: #00a651;
                                    --background-focus: #00a651;
                                    --background-hover: #00a651;
                                    --color:#ffffff;
                                    --color-activated: #ffffff;
                                    --color-hover: #ffffff;
                                }

                                ion-text.qty-button {
                                    float: right;
                                    text-align: center;
                                    border: 2px solid #00a651;
                                    border-radius: 5px;
                                    font-size: 0.9rem;
                                    display: flex;
                                    align-items: center;
                                    min-width: 75px;
                                    justify-content: center;
                                    min-height: 22px;
                                    > * {
                                        height: 22px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    ion-icon {
                                        color: #484848;
                                        min-width: 19px;
                                        --color-hover:#00a651;
                                        --color-focus:#00a651;
                                        --color-active:#00a651;
                                    }
                                    span {
                                        background: #00a651;
                                        padding: 0 10px;
                                        color: #fff;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

