<ion-header>
    <ion-toolbar>
      <ion-button class="custom-back-button">
        <img src="assets/images/back-black.svg"/>
      </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <section class="profile-header">
    <div class="item">
      <div slot="start">
        <div class="pp-container"></div>
      </div>
      <div class="info">
        <h4>Jacob Thomas</h4> 
        <h5>Master Chef, Orrisa</h5>
        <p>Karunakar has been a cook since the last 7 years having experience in various cuisines </p>
        <div class="lang">
          <b>Can Speak:</b>
          <span>English, Hindi</span>
        </div>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-icon name="star"></ion-icon>
          <ion-label>4.0</ion-label>
        </ion-list>
        <ion-list>
          <ion-label>1000+ Rattings</ion-label>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-icon name="pin"></ion-icon>
          <ion-label>2.0 km</ion-label>
        </ion-list>
        <ion-list>
          <ion-label>Distance</ion-label>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <span>₹</span>
          <ion-label>250</ion-label>
        </ion-list>
        <ion-list>
          <ion-label>For Two</ion-label>
        </ion-list>
      </ion-col>
    </ion-row>
  </section>

  <section class="content-list">
    <div class="accordion-main">
      <div class="accordion-header">Starter</div>
      <div class="accordion-box in">
          <div class="list">
            <div slot="start">
              <img src="assets/products/product-0.jpg">
            </div>
            <div class="content">
              <h4>Poori With Tomato And Cookies for Startert</h4>
              <div class="info">
                <div class="left">
                    <h5>In Startert</h5>
                    <div class="single-row">
                      <div class="starts">
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                      <span>33 Votes</span>
                    </div>
                </div>
                <div class="right">
                  <ion-label class="add-btn">
                    <span>Add</span>
                    <ion-icon name="add"></ion-icon>
                  </ion-label>
                </div>
              </div>
            </div>
          </div>
          <div class="list">
            <div slot="start">
              <img src="assets/products/product-0.jpg">
            </div>
            <div class="content">
              <h4>Poori With Tomato And Cookies for Startert</h4>
              <div class="info">
                <div class="left">
                    <h5>In Startert</h5>
                    <div class="single-row">
                      <div class="starts">
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                      <span>33 Votes</span>
                    </div>
                </div>
                <div class="right">
                  <ion-label class="add-btn added">
                    <span>Added</span>
                  </ion-label>
                </div>
              </div>
            </div>
          </div>
          <div class="list">
            <div slot="start">
              <img src="assets/products/product-0.jpg">
            </div>
            <div class="content">
              <h4>Poori With Tomato And Cookies for Startert</h4>
              <div class="info">
                <div class="left">
                    <h5>In Startert</h5>
                    <div class="single-row">
                      <div class="starts">
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star" class="fill"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                      <span>33 Votes</span>
                    </div>
                </div>
                <div class="right">
                  <ion-label class="add-btn">
                    <span>Add</span>
                    <ion-icon name="add"></ion-icon>
                  </ion-label>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
   
  </section>
</ion-content>

<ion-footer>
  <ion-button class="full-wdith-button">continue to cart</ion-button>
</ion-footer>

