<ion-content>
    <section class="logo">
      <img src="../../assets/logos/colored-logo.png"/>
      <ion-label>Jeera Powder</ion-label>
    </section>
  
    <section class="content-main">
      <form>
        <ion-list>
          <ion-label class="heading-1">
              <p>Few Steps away towards best services</p>
              <p>Create an account</p>
          </ion-label>

          <ion-item lines="none">
            <ion-input type="Fullname" placeholder="Fullname"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="Email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="number" min="0" max="10" maxlength="10" placeholder="Phone Number"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button type="submit">sign up</ion-button>
          </ion-item>
        </ion-list>
      </form>
    </section>
    <ion-label class="stick-bottom sign-in">Already have an account? <span>SIGN IN</span></ion-label>
  </ion-content>