<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <section class="logo">
      <img src="../../assets/logos/colored-logo.png"/>
      <ion-label>Jeera Powder</ion-label>
    </section>
  
    <section class="content-main">
      <form [formGroup]="registerForm" >
        <ion-list>
          <ion-label class="heading-1">
              <p>Few Steps away towards best services</p>
              <p>Create an account</p>
          </ion-label>

          <ion-item lines="none">
            <ion-input formControlName="fullName" type="Fullname" placeholder="Fullname"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="email" type="Email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="phoneNumber" type="number" min="0" max="10" maxlength="10" placeholder="Phone Number"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button type="submit" (click) = "signUpClick()"  [disabled]="!registerForm.valid" >sign up</ion-button>
          </ion-item>
        </ion-list>
      </form>
    </section>
    <ion-label class="stick-bottom sign-in" routerLink ='/login'>Already have an account? <span>SIGN IN</span></ion-label>
  </ion-content>