<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="inProgressBooking?.length > 0">
    <ion-label>Ongoing Booking</ion-label>
    <ion-card *ngFor="let booking of inProgressBooking" (click)="openBookingDetails()">
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../assets/images/chef-pp.jpg" />
          </ion-avatar>
          <ion-label text-wrap>
            <h2>{{booking?.chefName}}</h2>
            <p>Total: ₹{{booking?.totalAmountPaid}}</p>
            <label>
              <span>{{booking?.comments}}</span>
            </label>
          </ion-label>

        </ion-item>
        <div class="ion-card-footer">
          <span><b>Date:</b> {{booking?.bookingTime}}</span>
          <span><b>Time:</b> {{booking?.bookingTime}}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="upcomingBookings?.length > 0">
    <ion-label>Upcoming Bookings</ion-label>
    <ion-card *ngFor="let booking of upcomingBookings" (click)="openBookingDetails()">
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../assets/images/chef-pp.jpg" />
          </ion-avatar>
          <ion-label text-wrap>
            <h2>{{booking?.chefName}}</h2>
            <p>Total: ₹{{booking?.totalAmountPaid}}</p>
            <label>
              <span>{{booking?.comments}}</span>
            </label>
          </ion-label>

        </ion-item>
        <div class="ion-card-footer">
          <span><b>Date:</b> {{booking?.bookingTime}}</span>
          <span><b>Time:</b> {{booking?.bookingTime}}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="completedBookings?.length > 0">
    <ion-label>Previous Bookings</ion-label>
    <ion-card *ngFor="let booking of completedBookings" (click)="openBookingDetails()">
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../assets/images/chef-pp.jpg" />
          </ion-avatar>
          <ion-label text-wrap>
            <h2>{{booking?.chefName}}</h2>
            <p>Total: ₹{{booking?.totalAmountPaid}}</p>

            <star-rating [value]="booking?.rating" checkedcolor="red" uncheckedcolor="black" size="15px"
              readonly="true"></star-rating>
          </ion-label>
        </ion-item>
        <div class="ion-card-footer">
          <span><b>Date:</b> {{booking?.bookingTime}}</span>
          <span><b>Time:</b> {{booking?.bookingTime}}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="cancelledBooking?.length > 0">
      <ion-label>Cancelled Bookings</ion-label>
      <ion-card *ngFor="let booking of cancelledBooking" (click)="openBookingDetails()">
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../assets/images/chef-pp.jpg" />
            </ion-avatar>
            <ion-label text-wrap>
              <h2>{{booking?.chefName}}</h2>
              <p>Total: ₹{{booking?.totalAmountPaid}}</p>
              <label>
                <span>{{booking?.comments}}</span>
              </label>
            </ion-label>
  
          </ion-item>
          <div class="ion-card-footer">
            <span><b>Date:</b> {{booking?.bookingTime}}</span>
            <span><b>Time:</b> {{booking?.bookingTime}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>