<ion-header>
    <ion-toolbar>
      <ion-button class="custom-back-button">
        <img src="assets/images/back-black.svg"/>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <ion-list>
     <ion-label>Upcoming Booking</ion-label>
     <ion-card>
       <ion-card-content>
         <ion-item lines="none">
           <ion-avatar>
             <img src="../../assets/images/chef-pp.jpg"/>
           </ion-avatar>
           <ion-label text-wrap>
             <h2>Jacob Thomas</h2>
             <p>B-21,Konark Sun Temple,Orrisa</p>
             <label>
                  <span>Master Chef</span>
             </label>
           </ion-label>
           
         </ion-item>
         <div class="ion-card-footer">
            <span><b>Date:</b> 14-01-2019</span>
            <span><b>Time:</b> 10:45 AM</span>
         </div>
       </ion-card-content>
     </ion-card>
   </ion-list>
   <ion-list>
      <ion-label>Previous Booking</ion-label>
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../assets/images/chef-pp.jpg"/>
            </ion-avatar>
            <ion-label text-wrap>
              <h2>Jacob Thomas</h2>
              <p>B-21,Konark Sun Temple,Orrisa</p>
              <label>
                  <span>Master Chef</span>
                 <div class="stars">
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class=""></ion-icon>
                  </div>
             </label>
            </ion-label>
          </ion-item>
          <div class="ion-card-footer">
             <span><b>Date:</b> 14-01-2019</span>
             <span><b>Time:</b> 10:45 AM</span>
          </div>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../assets/images/chef-pp.jpg"/>
            </ion-avatar>
            <ion-label>
              <h2>Jacob Thomas</h2>
              <p>B-21,Konark Sun Temple,Orrisa</p>
              <label>
                  <span>Master Chef</span>
                  <div class="stars">
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class=""></ion-icon>
                  </div>
              </label>
            </ion-label>
          </ion-item>
          <div class="ion-card-footer">
              <span><b>Date:</b> 14-01-2019</span>
              <span><b>Time:</b> 10:45 AM</span>
          </div>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../assets/images/chef-pp.jpg"/>
            </ion-avatar>
            <ion-label>
              <h2>Jacob Thomas</h2>
              <p>B-21,Konark Sun Temple,Orrisa</p>
              <label>
                  <span>Master Chef</span>
                  <div class="stars">
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class=""></ion-icon>
                  </div>
              </label>
            </ion-label>
          </ion-item>
          <div class="ion-card-footer">
              <span><b>Date:</b> 14-01-2019</span>
              <span><b>Time:</b> 10:45 AM</span>
          </div>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../assets/images/chef-pp.jpg"/>
            </ion-avatar>
            <ion-label>
              <h2>Jacob Thomas</h2>
              <p>B-21,Konark Sun Temple,Orrisa</p>
              <label>
                  <span>Master Chef</span>
                  <div class="stars">
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class="fill"></ion-icon>
                    <ion-icon name="star" class=""></ion-icon>
                  </div>
              </label>
            </ion-label>
          </ion-item>
          <div class="ion-card-footer">
              <span><b>Date:</b> 14-01-2019</span>
              <span><b>Time:</b> 10:45 AM</span>
          </div>
        </ion-card-content>
      </ion-card>
      
    </ion-list>
  </ion-content>
  