<ion-header>
    <ion-toolbar>
      <ion-title> Popups </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-item-group>
    <ion-item lines="full">
      <ion-button (click)="confirmationPopup()" > 
        Popup Confirmation 1
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-button (click)="generalPopup()" > 
        Popup Confirmation 2
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-button (click)="detailPopup()" > 
        Popup Detail
      </ion-button>
    </ion-item>
  </ion-item-group>
</ion-content>
