<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="../../assets/images/user-pp.svg"/>
          </ion-thumbnail>
          <ion-label>
            <h2>{{userDetails?.userFullName}}</h2>
            <p>
              <span>{{userDetails?.phoneNum}}</span>
              <span>{{userDetails?.emailId}}</span>
            </p>
          </ion-label>
          
          <ion-button routerLink="/tabs/profile/edit-user-profile">edit</ion-button>
        </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list>
      <ion-item detail lines="none" routerLink="/tabs/profile/booking-history">
        <ion-label>
          <h2>Bookings</h2>
          <p>Current/Past Bookings</p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none">
        <ion-label>
          <h2>Addresses</h2>
          <p>Add and remove saved addresses</p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none">
        <ion-label>
          <h2>Refferals</h2>
          <p>Invite your friends to earn free meals </p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none">
        <ion-label>
          <h2>App Settings</h2>
          <p>Change settings for JP app </p>
        </ion-label>
      </ion-item>
      <ion-item detail lines="none" (click) = "onLogoutClick()">
        <ion-label>
          <h2>Logout</h2>
          <p>Log out from JP app</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
