app-profile {
  ion-header {
    ion-toolbar {
      ion-title {
        padding: 0px;
        ion-item {
          ion-thumbnail {
            min-width: 45px;
            max-width: 45px;
            min-height: 45px;
            max-height: 35px;
            img {
              width: auto;
            }
          }
          ion-label {
            h2 {
              font-size: 1.2rem !important;
              font-weight: bold !important;
              color: #2d2d2d;
              margin-bottom: 0px !important;
            }
            p {
              display: flex;
              span {
                color: #6e6e6e !important;
                font-size: 0.8rem !important;
                display: flex;
                align-items: center;
                &:after {
                  content: " ";
                  background: #6e6e6e;
                  border-radius: 6px;
                  min-width: 6px;
                  max-width: 6px;
                  min-height: 6px;
                  max-height: 6px;
                  display: block;
                  margin: 0 5px;
                }
                &:last-child:after {
                  display: none;
                }
              }
            }
          }
          ion-button {
            --background: transparent;
            --color: 2d2d2d;
            --box-shadow: none;
            position: absolute;
            right: 0;
            top: 10px;
            font-size: 0.85rem;
            --background-hover: transparent;
            --background-active: transparent;
            --background-focused: transparent;
          }
        }
      }
    }
  }
  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    ion-list {
      ion-item {
        border-bottom: 1px dashed #bebebe;
        ion-label {
          h2 {
            color: #6e6e6e;
            margin-bottom: 0px !important;
          }
          p {
            color: #bebebe !important;
          }
        }
        img {
          max-width: 12px;
        }
      }
    }
  }
}
