<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <img src="../../assets/images/location-home.svg" />
      <ion-label class="currenct-page">Location</ion-label>
    </ion-title>
    <ion-label (click)="generalPopup();" slot="end">
      <img src="../../assets/images/time.svg" />
      <span>Time</span>
    </ion-label>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-slides [options]="sliderOptions" class="promotion-slider">
    <ion-slide *ngFor="let s of slider.slidesItems ; let i = index ">
      <img src="../../assets/slides/slider-{{s}}.jpg">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderOffersOptions" class="slider-offers">
    <ion-slide *ngFor="let s of sliderOffers.slidesItems ; let i = index;">
      <div class="box">
        <!--<ion-icon *ngIf="s.type=='ionic'" name="{{s.icon}}"></ion-icon>-->
        <div class="offer-image">
          <span class="bg-high"></span>
          <img src="../../assets/images/{{s.icon}}">
        </div>
        <span>{{s.title}}</span>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="list-view">
    <h4>
      nearby chefs
    </h4>
    <div class="sort-filter">
      <img src="../../assets/images/filter.svg">
      <span>sort / filter</span>
    </div>
  </div>
  <ion-list class="p-list">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="../../assets/products/product-0.jpg">
      </ion-thumbnail>
      <ion-label class="detail" text-wrap>
        <h5>Madhur Jaffrey</h5>
        <p>Master Chef, Delhi </p>
        <ion-text class="offer">
          <img src="../../assets/images/food.svg" />
          <span class="off">Chicken Butter masala, Kheer</span>
        </ion-text>
        <div class="bottom-detail flex-mode">
            <div class="ratting">
              <ion-icon name="star"></ion-icon>
              <span>4.5</span>
            </div>
            <div class="price">
              <span class="currency">₹</span>
              <span class="ammount">250</span>
            </div>
          </div>
      </ion-label>
      
   </ion-item>

  </ion-list>
</ion-content>